<md-dialog>
    <md-dialog-content ng-if="scoreDetailController.saveError">
        <div class="md-dialog-content">
            <h3>{{ scoreDetailController.saveError.error }}</h3>
            <p>{{ scoreDetailController.saveError.detail }}</p>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end" ng-if="scoreDetailController.saveError">
        <md-button ng-click="scoreDetailController.cancel()">
            Never mind
        </md-button>
        <md-button ng-click="scoreDetailController.login()"
                   ng-if="scoreDetailController.saveError.redirectToLogin && !scoreDetailController.pairCode">
            Log me in
        </md-button>
        <md-button ng-click="scoreDetailController.goHome()"
                   ng-if="scoreDetailController.saveError.redirectToLogin && scoreDetailController.pairCode">
            Try a different code
        </md-button>
        <md-button ng-click="scoreDetailController.tryAgain()"
                   ng-if="!scoreDetailController.saveError.redirectToLogin">
            Try again
        </md-button>
    </md-dialog-actions>
    <md-dialog-content ng-if="scoreDetailController.saving">
        <div class="md-dialog-content"
             layout="column"
             layout-align="space-around center">
            <h3 ng-if="!scoreDetailController.deleting">Saving score...</h3>
            <h3 ng-if="scoreDetailController.deleting">Deleting score...</h3>
            <md-progress-circular flex></md-progress-circular>
        </div>
    </md-dialog-content>
    <form name="scoreForm" ng-if="!scoreDetailController.saving && !scoreDetailController.saveError">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button"
                           ng-if="!scoreDetailController.pairCode"
                           ng-click="scoreDetailController.cancel()">
                    <md-icon>history</md-icon>
                </md-button>
                <h2>
                    Board #{{ scoreDetailController.hand.handNo }}
                </h2>
                <span flex></span>
                <md-button class="md-icon-button"
                           ng-if="!scoreDetailController.pairCode && !scoreDetailController.deleting && scoreDetailController.hand.score"
                           ng-click="scoreDetailController.deleting = true">
                    <md-icon>delete</md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="scoreDetailController.cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content"
                 ng-if="scoreDetailController.deleting"
                 layout="column"
                 layout-align="center center"
                 flex>
                <span>This hand's score will be deleted.</span>
            </div>
            <div class="md-dialog-content" layout="column" ng-if="!scoreDetailController.deleting">
                <div layout="column"
                     style="padding: 0; margin: 0"
                     layout-align="center center"
                     ng-if="scoreDetailController.hand.score && !scoreDetailController.overwriting">
                    <h4 style="padding: 0; margin: 0">This hand is already scored.</h4>
                    <md-button class="md-warn" ng-click="scoreDetailController.overwriting = true">Edit it anyway</md-button>
                </div>
                <div layout="row">
                    <div layout="column" style="width:10em;" flex="50">
                        <h3 style="text-align: center;margin-top: 0">
                            Pair #{{scoreDetailController.hand.northSouthPair}}
                        </h3>
                        <md-input-container class="md-block">
                            <label for="northSouthScore">North/South</label>
                            <input id="northSouthScore"
                                   type="text"
                                   style="text-transform:uppercase"
                                   name="northSouthScore"
                                   ng-pattern="/^-?([05]|([1-9][05])|([1-4][0-9][05]))$|^AVG([+-]{0,2})$/"
                                   ng-model="scoreDetailController.score.northSouthScore"
                                   md-no-asterisk
                                   ng-disabled="scoreDetailController.hand.score && !scoreDetailController.overwriting"
                                   required />
                            <div ng-messages="scoreForm.northSouthScore.$error">
                                <div ng-message="required">Enter a score.</div>
                                <div ng-message="pattern">Invalid score.</div>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <label for="northCall">North</label>
                            <md-select id="northCall"
                                       ng-model="scoreDetailController.score.calls.north"
                                       ng-disabled="scoreDetailController.hand.score && !scoreDetailController.overwriting">
                                <md-option value="" md-option-empty>No call</md-option>
                                <md-option value="T">Tichu</md-option>
                                <md-option value="GT">Grand Tichu</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container>
                            <label for="southCall">South</label>
                            <md-select id="southCall"
                                       ng-model="scoreDetailController.score.calls.south"
                                       ng-disabled="scoreDetailController.hand.score && !scoreDetailController.overwriting">
                                <md-option value="" md-option-empty>No call</md-option>
                                <md-option value="T">Tichu</md-option>
                                <md-option value="GT">Grand Tichu</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout="column" style="width:10em;" flex="50">
                        <h3 style="text-align: center; margin-top: 0;">
                            Pair #{{scoreDetailController.hand.eastWestPair}}
                        </h3>
                        <md-input-container class="md-block">
                            <label for="eastWestScore">East/West</label>
                            <input id="eastWestScore"
                                   type="string"
                                   style="text-transform:uppercase"
                                   name="eastWestScore"
                                   ng-pattern="/^-?([05]|([1-9][05])|([1-4][0-9][05]))$|^AVG([+-]{0,2})$/"
                                   ng-model="scoreDetailController.score.eastWestScore"
                                   ng-disabled="scoreDetailController.hand.score && !scoreDetailController.overwriting"
                                   md-no-asterisk
                                   required/>
                            <div ng-messages="scoreForm.eastWestScore.$error">
                                <div ng-message="required">Enter a score.</div>
                                <div ng-message="pattern">Invalid score.</div>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <label for="eastCall">East</label>
                            <md-select id="eastCall"
                                       ng-model="scoreDetailController.score.calls.east"
                                       ng-disabled="scoreDetailController.hand.score && !scoreDetailController.overwriting">
                                <md-option value="" md-option-empty>No call</md-option>
                                <md-option value="T">Tichu</md-option>
                                <md-option value="GT">Grand Tichu</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container>
                            <label for="westCall">West</label>
                            <md-select id="westCall"
                                       ng-model="scoreDetailController.score.calls.west"
                                       ng-disabled="scoreDetailController.hand.score && !scoreDetailController.overwriting">
                                <md-option value="" md-option-empty>No call</md-option>
                                <md-option value="T">Tichu</md-option>
                                <md-option value="GT">Grand Tichu</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>
                <md-input-container class="md-block" flex>
                    <label for="scoringNotes">Notes</label>
                    <textarea id="scoringNotes"
                              name="scoringNotes"
                              ng-model="scoreDetailController.score.notes"
                              ng-disabled="scoreDetailController.hand.score && !scoreDetailController.overwriting"></textarea>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="end center">
            <md-button ng-click="scoreDetailController.deleting ? scoreDetailController.deleting = false : scoreDetailController.cancel()">
                Cancel
            </md-button>
            <md-button ng-class="{'md-warn': scoreDetailController.deleting}"
                       ng-click="scoreDetailController.save()"
                       ng-disabled="scoreForm.$invalid || (!scoreDetailController.deleting && scoreForm.$pristine) || (scoreDetailController.hand.score && !scoreDetailController.overwriting && !scoreDetailController.deleting)">
                <span ng-if="!scoreDetailController.deleting && scoreDetailController.hand.score">
                    Update Score
                </span>
                <span ng-if="!scoreDetailController.deleting && !scoreDetailController.hand.score">
                    Submit Score
                </span>
                <span ng-if="scoreDetailController.deleting">Delete Score</span>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>