md-input-container.no-error-spacer {
    margin-bottom: 0;
}

md-input-container.no-error-spacer .md-errors-spacer:empty { display: none; }

md-list-item .md-button:not([disabled]):hover {
  background-color: transparent;
}

md-list md-list-item .md-avatar-icon.completed-icon {
  background-color: #43A047
}

.custom-fab {
  justify-content: flex-end; 
  width: 30px;
}

.custom-fab md-fab-actions .md-fab-action-item {
  transition: none;
}
.custom-fab:not(.md-is-open) md-fab-actions {
  visibility: hidden;
}

.custom-fab md-fab-trigger .md-button.md-icon-button {
  margin: 0px;
  padding: 0px;
  width: 30px;
}

.custom-fab md-fab-actions {
  width: 0px;
}

.no-wrap {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.players {
  color: rgba(0, 0, 0, 0.5);
}

.column-selected {
  color: rgba(0,0,0,0.87);
  font-weight: 500;
}

.column-deselected {
  color: rgba(0,0,0,0.54);
}

.hand-result-row {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.md-toolbar-tools > .md-button:nth-child(2) {
    margin-left: 0;
}