md-input-container.no-error-spacer {
    margin-bottom: 0;
}

md-input-container.no-error-spacer .md-errors-spacer:empty { display: none; }

.custom-fab {
  justify-content: flex-end; 
  width: 30px;
}

.custom-fab md-fab-actions .md-fab-action-item {
  transition: none;
}
.custom-fab:not(.md-is-open) md-fab-actions {
  visibility: hidden;
}

.custom-fab md-fab-trigger .md-button.md-icon-button {
  margin: 0px;
  padding: 0px;
  width: 30px;
}

.custom-fab md-fab-actions {
  width: 0px;
}