<div layout="column" layout-align="start center">
    <div style="width: 30em" layout="column">
        <md-card flex="noshrink" ng-repeat="round in tournamentStatusController.tournamentStatus.roundStatus">
            <md-card-header ng-if="round.scoredHands.length != 0"
                            style="padding-top: 0.4em; padding-bottom: 0.8em">
                <md-icon class="md-avatar-icon"
                         ng-if="round.unscoredHands.length == 0"
                         md-font-set="material-icons"
                         style="margin-left: 0; margin-right: 0.8em; font-size: 44px; color: #43A047">
                             check_circle
                </md-icon>
                <md-card-header-text>
                    <span class="md-title" style="padding-top: 0.6em"
                          >Round {{round.roundNo}}: Scored Hands</span>
                </md-card-header-text>
            </md-card-header>
            <md-list style="padding-bottom: 0" class="md-dense"
                     ng-if="round.scoredHands.length != 0">
                <md-list-item ng-repeat="hand in round.scoredHands"
                              ng-click="tournamentStatusController.editHand(hand.handNo, hand.northSouthPair, hand.eastWestPair)"
                              ng-style="{'background-color': '#eeeeee'}">
                    <md-icon class="md-avatar-icon"
                             md-font-set="material-icons"
                             style="margin-left: 0">assignment_turned_in</md-icon>
                    <div class="md-list-item-text">
                        <p>Board {{hand.handNo}} @ Table {{hand.tableNo}}</p>
                    </div>
                </md-list-item>
            </md-list>
            <md-card-header style="padding-bottom: 0"
                            ng-if="round.unscoredHands.length != 0">
                <md-card-header-text>
                    <span class="md-title">Round {{round.roundNo}}: Unscored Hands</span>
                </md-card-header-text>
            </md-card-header>
            <md-list style="padding-bottom: 0" class="md-dense"
                     ng-if="round.unscoredHands.length != 0">
                <md-list-item ng-repeat="hand in round.unscoredHands"
                              ng-click="tournamentStatusController.editHand(hand.handNo, hand.northSouthPair, hand.eastWestPair)">
                    <md-icon class="md-avatar-icon"
                             md-font-set="material-icons"
                             style="margin-left: 0">assignment</md-icon>
                    <div class="md-list-item-text">
                        <p>Board {{hand.handNo}} @ Table {{hand.tableNo}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-card>
    </div>
</div>