<md-list class="md-dense" flex="noshrink" ng-if="!tournamentListController.failure">
    <md-list-item class="md-2-line"
                  href="/tournaments/new">
        <md-icon class="md-avatar-icon" md-font-set="material-icons">create</md-icon>
        <div class="md-list-item-text">
            <h3>New Tournament</h3>
        </div>
    </md-list-item>
    <md-subheader ng-if="tournamentListController.tournaments">Active Tournaments</md-subheader>
    <md-list-item class="md-2-line"
                  href="/tournaments/{{tournament.id}}"
                  ng-repeat="tournament in tournamentListController.tournaments">
        <md-icon class="md-avatar-icon" md-font-set="material-icons">call_split</md-icon>
        <div class="md-list-item-text">
            <h3>{{tournament.name}}</h3>
        </div>
    </md-list-item>
</md-list>