<div layout="row" style="height: 100%">
    <div ng-include="'src/sidebar.html'"
         ng-init="tournament_id=tournamentDetailController.tournament.id; 
                  current='pairs'; tournament_name='this.tournament.name'"></div>
    <md-content style="width: 100%">
        <md-list class="md-dense" flex="noshrink" ng-if="!tournamentDetailController.failure">
            <md-list-item class="md-2-line"
                          ng-href="/tournaments/{{tournamentDetailController.tournament.id}}/movement/{{pair.pairNo}}"
                          ng-repeat="pair in tournamentDetailController.tournament.pairs">
                <md-icon class="md-avatar-icon" md-font-set="material-icons">people</md-icon>
                <div class="md-list-item-text">
                    <h3>Pair #{{ pair.pairNo }}&ensp;[{{ pair.pairId }}]</h3>
                    <p>
                        <span ng-repeat="player in pair.players">
                             {{player.name}}<span ng-if="!$last">,&ensp;</span>
                        </span>
                    </p>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
</div>