<div layout="row" style="height: 100%">
<div ng-include="'src/sidebar.html'"
     ng-init="tournament_id=tournamentStatusController.tournamentId; 
              current='status';
              tournament_name='tournamentDetailController.tournament.name'"></div>
<md-content layout="column" layout-align="start center" style="width: 100%">
    <div style="width: 30em" layout="column">
        <md-card flex="noshrink" ng-repeat="round in tournamentStatusController.tournamentStatus.roundStatus">
            <md-list ng-if="round.unscoredHands.length != 0" 
                     class="md-dense"
                     style="padding: 0">
                <md-list-item style="padding-bottom: 0"
                              ng-if="round.showUnscored.length != 0"
                              ng-click="tournamentStatusController.showUnscored[round.roundNo - 1] = !tournamentStatusController.showUnscored[round.roundNo - 1]">
                    <md-icon class="md-avatar-icon"
                             md-font-set="material-icons"
                             style="margin-left: 0; background-color: #f7d483">hourglass_empty</md-icon>
                    <md-card-header-text>
                        <span>Round {{round.roundNo}}: Unscored Hands</span>
                    </md-card-header-text>
                    <md-icon class = "md-secondary" ng-if="!tournamentStatusController.showUnscored[round.roundNo - 1]">expand_more</md-icon>
                    <md-icon class = "md-secondary" ng-if="tournamentStatusController.showUnscored[round.roundNo - 1]">expand_less</md-icon>
                </md-list-item>
                <md-list-item ng-repeat="hand in round.unscoredHands"
                              ng-click="tournamentStatusController.editHand(hand.handNo, hand.northSouthPair, hand.eastWestPair)"
                              ng-if="tournamentStatusController.showUnscored[round.roundNo - 1]">
                    <md-icon class="md-avatar-icon"
                             md-font-set="material-icons"
                             style="margin-left: 0">assignment</md-icon>
                    <div class="md-list-item-text">
                        <p>Board {{hand.handNo}} @ Table {{hand.tableNo}}</p>
                    </div>
                </md-list-item>
            </md-list>
            <md-divider ng-if="round.scoredHands.length != 0 && round.showScored.length != 0"></md-divider>
            <md-list class="md-dense"
                     style="padding: 0"
                     ng-if="round.scoredHands.length != 0">
                <md-list-item style="padding-bottom: 0"
                              ng-if="round.scoredHands.length != 0"
                              ng-click="tournamentStatusController.showScored[round.roundNo - 1] = !tournamentStatusController.showScored[round.roundNo - 1]">
                    <md-icon class="md-avatar-icon material-icons"
                             ng-class="{'completed-icon': round.unscoredHands.length == 0}"
                             style="margin-left: 0px;"
                             md-font-set="material-icons">
                                 done
                    </md-icon>
                    <md-card-header-text>
                        <span style="padding-top: 0.6em">Round {{round.roundNo}}: Scored Hands</span>
                    </md-card-header-text>
                    <md-icon class = "md-secondary" ng-if="!tournamentStatusController.showScored[round.roundNo - 1]">expand_more</md-icon>
                    <md-icon class = "md-secondary" ng-if="tournamentStatusController.showScored[round.roundNo - 1]">expand_less</md-icon>
                </md-list-item>
                <md-list-item ng-repeat="hand in round.scoredHands"
                              ng-click="tournamentStatusController.editHand(hand.handNo, hand.northSouthPair, hand.eastWestPair)"
                              ng-style="{'background-color': '#eeeeee'}"
                              ng-if="tournamentStatusController.showScored[round.roundNo - 1]">
                    <md-icon class="md-avatar-icon"
                             md-font-set="material-icons"
                             style="margin-left: 0">assignment_turned_in</md-icon>
                    <div class="md-list-item-text">
                        <p>Board {{hand.handNo}} @ Table {{hand.tableNo}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-card>
    </div>
</md-content>
</div>