<md-list class="md-dense" flex="noshrink" ng-if="!tournamentListController.failure">
    <md-subheader ng-if="tournamentListController.tournaments">Active Tournaments</md-subheader>
    <md-list-item class="md-2-line"
                  href="/tournaments/{{tournament.id}}/view"
                  ng-repeat="tournament in tournamentListController.tournaments"
                  ng-cloak>
        <md-icon class="md-avatar-icon" md-font-set="material-icons">call_split</md-icon>
        <div class="md-list-item-text"
             style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; width: 100px">
            <h3>{{tournament.name}}</h3>
        </div>
        <md-button class="md-mini md-icon-button"
                   ng-if="tournamentListController._showDelete"
                   ng-click="tournamentListController.deleteTournament(tournament.id, tournament.name)" >
            <md-icon>delete</md-icon>
        </md-button>
        <md-fab-speed-dial md-open="false" md-direction="left" class="custom-fab md-fling"
                           ng-if="!tournamentListController._showDelete">
            <md-fab-trigger>
                <md-button class=md-icon-button
                           ng-click="$mdOpenMenu()">
                    <md-icon md-menu-origin style="margin:0px; padding: 0 0 0 10px">more_vert</md-icon>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions style="width: 0px;">
                <md-button class="md-fab md-mini md-raised"
                           ng-click="tournamentListController.deleteTournament(tournament.id, tournament.name)" >
                    <md-icon>delete</md-icon>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial> 
    </md-list-item>
</md-list>
<md-button class="md-fab md-raised md-fab-bottom-right md-icon-button md-primary" 
           ng-if="!tournamentListController.failure && !tournamentListController._showDelete"
           href="/tournaments/new" style="position: fixed; padding: 15px;"> 
    <md-icon class="material-icons md-avatar-icon" md-font-set="material-icons">add</md-icon>
</md-button>
<md-fab-speed-dial md-open="false" md-direction="up" class="custom-fab-upright md-fling md-fab-bottom-right"
                   ng-if="tournamentListController._showDelete"
                   style="position: fixed; padding: 15px;">
    <md-fab-trigger>
        <md-button class="md-fab md-raised md-icon-button md-primary" 
                   ng-click="$mdOpenMenu()">
             <md-icon class="material-icons md-avatar-icon" md-font-set="material-icons">add</md-icon>
        </md-button>
     </md-fab-trigger>
     <md-fab-actions>
         <md-button class="md-fab md-mini md-raised" href="/tournaments/new">
              <md-tooltip md-direction="left">Create New</md-tooltip>
              <md-icon>view_compact</md-icon>
         </md-button>
         <label for="input-file-id" class="md-button md-fab md-mini md-raised">
              <md-tooltip md-direction="left">Upload</md-tooltip>
              <md-icon>cloud_upload</md-icon>
         </label>
     </md-fab-actions>
</md-fab-speed-dial> 
<input id="input-file-id" type="file" class="ng-hide" fileupload>
