<!DOCTYPE html>
<html lang="en" ng-app="tichu-tournament" ng-controller="AppController as appController">
<head>
  <base href="/">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title ng-bind="(appController.header ? appController.header + ' - ' : '') + appController.title">
    Tichu Tournament
  </title>
  <!-- build:css assets/app.css -->
  <link rel="stylesheet" href="bower_components/angular/angular-csp.css">
  <!-- ref:css bower_components/angular-material/angular-material.min.css -->
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  <!-- endref -->
  <!-- ref:css bower_components/angular-material-data-table/dist/md-data-table.min.css -->
  <link rel="stylesheet" href="bower_components/angular-material-data-table/dist/md-data-table.css">
  <!-- endref -->
  <!-- endbuild -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body class="layout-column" layout="column">
  <div flex layout="column" layout-align="center center" class="flex layout-column layout-align-center-center" ng-if="false">
    <h2>Loading...</h2>
  </div>
  <div ng-cloak flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

    <md-toolbar ng-if="appController.showHeader && (appController.header || appController.backPath || appController.refresher)"
                layout="row"
                class="md-whiteframe-z1">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-if="appController.backPath" ng-href="{{appController.backPath}}">
          <md-icon flex="auto">arrow_back</md-icon>
        </md-button>
        <h2 style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis">{{ appController.header }}</h2>
        <span flex></span>
        <md-button class="md-icon-button"
                   ng-if="appController.refresher"
                   ng-disabled="appController.refreshStatus === null"
                   ng-click="appController.refresh()">
          <md-icon flex="auto">{{ appController.refreshStatus === false ? "sync_problem" : "sync" }}</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-progress-linear class="md-accent" ng-disabled="!appController.refresher || appController.refreshStatus !== null"></md-progress-linear>

    <md-content flex id="content" layout="column" ng-view>
    </md-content>

  </div>

  <!-- build:js assets/app.js -->
  <!-- ref:js bower_components/angular/angular.min.js -->
  <script src="bower_components/angular/angular.js"></script>
  <!-- endref -->
  <!-- ref:js bower_components/angular-animate/angular-animate.min.js -->
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <!-- endref -->
  <!-- ref:js bower_components/angular-aria/angular-aria.min.js -->
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <!-- endref -->
  <!-- ref:js bower_components/angular-messages/angular-messages.min.js -->
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <!-- endref -->
  <!-- ref:js bower_components/angular-material/angular-material.min.js -->
  <script src="bower_components/angular-material/angular-material.js"></script>
  <!-- endref -->
  <!-- ref:js bower_components/angular-material-data-table/dist/md-data-table.min.js -->
  <script src="bower_components/angular-material-data-table/dist/md-data-table.js"></script>
  <!-- endref -->
  <!-- ref:js bower_components/angular-route/angular-route.min.js -->
  <script src="bower_components/angular-route/angular-route.js"></script>
  <!-- endref -->
  <script src="src/common/models.js"></script>
  <script src="src/common/service-helpers.js"></script>
  <script src="src/tichu-tournament.js"></script>
  <script src="src/home/code-service.js"></script>
  <script src="src/home/home.js"></script>
  <script src="src/movements/movement-detail.js"></script>
  <script src="src/movements/movement-service.js"></script>
  <script src="src/movements/movement-store.js"></script>
  <script src="src/movements/score-detail.js"></script>
  <script src="src/tournaments/tournament-detail.js"></script>
  <script src="src/tournaments/tournament-list.js"></script>
  <script src="src/tournaments/tournament-results.js"></script>
  <script src="src/tournaments/tournament-service.js"></script>
  <script src="src/tournaments/tournament-store.js"></script>
  <!-- endbuild -->
</body>
</html>